@import url(./header.css);
@import url(./footer.css);
@import url("https://fonts.googleapis.com/css2?family=Onest:wght@400;500;600;700&display=swap");

:root {
  --primary: #0a5573;
  --secondary: #0074d9;
  --tertiary: #061439;
  --background: #fcfaf9;
  --text: #333333;
  --text-light: #ffffff;
  --primary-dark: #08445c;
  --contact: #f0fff0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  background-color: var(--background);
}
main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
